/* .container {
    padding: 0;
} */
.cardimg {

    border-radius: 10%; 
    margin-top: 15px;
    /* padding: 0; */
    /*box-sizing: border-box; */
    vertical-align: top;
    display: inline-block;
    text-align: center;
    /* float: left; */

}
.divLeft {
    margin: 0;
    padding: 0;
}

.caption {
    display: block;
}

.userdetail{
    margin-top: 50px;
    font-size: 26px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}